In [7]:
import numpy as np
num_of_students = 10
num_of_groups = 15
marks = np.random.randint(0, 101, size=(num_of_groups, num_of_students))
marks

array([[ 89,   4,  63,  74,  16,  88,  65,  84,  23,  11],
       [  8, 100,  71,  13,  44,  19,   2,  20,  58,  32],
       [ 30,  60,  10,  65,  71,  56,  30,  62,  33,   9],
       [ 27,  22,  41,  72,  10,  28,  77,  72,  32,  13],
       [ 90,   2,   4,  94,  76,  57,  29,  97,  44,  29],
       [ 79,  65,  89,   0,  93,  25,  93,  67,  94,  39],
       [ 82,  16,  52,  93,  45,  88,  69,  86,  17,  31],
       [ 21,  18,  53,  50,  25,  21,  30,  71,  79,  91],
       [ 73,  75,  21,  88,  81,  92,  16,  30,  83,  31],
       [100,  19,  47,  16,  13,  16,  41,  83,  67,  43],
       [ 97,  39,  42,  95,  30,  80,  56,  89,   0,  65],
       [ 28,  82,  44,  88,  16,  98,  70,   1,  49,  22],
       [ 28,  42,  70,  25,  38,  60,  81,   5,  68,  74],
       [ 33,  20,  57,  23,  18,  88,  32,  10,  10,  21],
       [ 40,  41,  44,  99,  36,  27,  81,  22,   2,  39]])

In [10]:
marks[marks<30].size

51

In [12]:
marks[(marks>70) & (marks<90)].size

31

In [18]:
marks.mean(axis=1).argmax()

5

In [21]:
(marks==100).sum(axis=1)

array([0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0])

In [23]:
marks[(marks!=0)].size

148

In [28]:
np.save("./data/marks.npy", marks)

In [29]:
np.load("./data/marks.npy")

array([[ 89,   4,  63,  74,  16,  88,  65,  84,  23,  11],
       [  8, 100,  71,  13,  44,  19,   2,  20,  58,  32],
       [ 30,  60,  10,  65,  71,  56,  30,  62,  33,   9],
       [ 27,  22,  41,  72,  10,  28,  77,  72,  32,  13],
       [ 90,   2,   4,  94,  76,  57,  29,  97,  44,  29],
       [ 79,  65,  89,   0,  93,  25,  93,  67,  94,  39],
       [ 82,  16,  52,  93,  45,  88,  69,  86,  17,  31],
       [ 21,  18,  53,  50,  25,  21,  30,  71,  79,  91],
       [ 73,  75,  21,  88,  81,  92,  16,  30,  83,  31],
       [100,  19,  47,  16,  13,  16,  41,  83,  67,  43],
       [ 97,  39,  42,  95,  30,  80,  56,  89,   0,  65],
       [ 28,  82,  44,  88,  16,  98,  70,   1,  49,  22],
       [ 28,  42,  70,  25,  38,  60,  81,   5,  68,  74],
       [ 33,  20,  57,  23,  18,  88,  32,  10,  10,  21],
       [ 40,  41,  44,  99,  36,  27,  81,  22,   2,  39]])

In [ ]:
np.savetxt("./data/marks.txt", marks)